<div id="padding">
  <div class="mo-text-3 pb-10 mo-text-b">
    Padding
  </div>
  <div class="mo-text-2 pb-10">
    The padding CSS shorthand property sets the padding area on all four sides
    of an element.
  </div>
</div>
<div class="mo-card">
  <div class="mo-card-header">
    This property is a shorthand for the following CSS properties:
  </div>
  <div class="mo-card-body">
    <ul class="mo-list mo-list-bordered mb-0">
      <li>
        padding-top
      </li>
      <li>
        padding-right
      </li>
      <li>
        padding-bottom
      </li>
      <li>
        padding-left
      </li>
    </ul>
  </div>
  <div class="mo-card-body">
    Mo Class for setting padding values in <span class="mo-text-i">px</span>
  </div>
  <div class="mo-card-footer">
    <ul class="mo-list mo-list-bordered mb-0">
      <li><b>Padding Top: </b> <span class="mo-text-i">pt-value</span></li>
      <li><b>Padding Bottom: </b> <span class="mo-text-i">pb-value</span></li>
      <li>
        <b>Padding Left: </b> <span class="mo-text-i">pl-value , ps-value</span>
      </li>
      <li>
        <b>Padding Right: </b>
        <span class="mo-text-i">pr-value , pe-value</span>
      </li>
    </ul>
    <ul class="mo-list mo-list-bordered mb-0">
      <li>
        <b>Padding Horizontal: </b> <span class="mo-text-i">px-value</span>
      </li>
      <li><b>Padding Vertical: </b> <span class="mo-text-i">py-value</span></li>
    </ul>
  </div>
</div>
<!-- <div class="">
  <div *ngFor="let i of index" class="mo-card mo-card-squared m-{{i + 1}} mo-d-flex mb-16" style="width: fit-content;">
    <kbd>m-{{i+1}}</kbd>
  </div>
</div> -->
