<div id="margin">
  <div class="mo-text-3 pb-10 mo-text-b">
    Margin
  </div>
  <div class="mo-text-2 pb-10">
    The margin CSS shorthand property sets the margin area on all four sides of
    an element.
  </div>
</div>
<div class="mo-card">
  <div class="mo-card-header">
    This property is a shorthand for the following CSS properties:
  </div>
  <div class="mo-card-body">
    <ul class="mo-list mo-list-bordered mb-0">
      <li>
        margin-top
      </li>
      <li>
        margin-right
      </li>
      <li>
        margin-bottom
      </li>
      <li>
        margin-left
      </li>
    </ul>
  </div>
  <div class="mo-card-body">
    Mo Class for setting margin values in <span class="mo-text-i">px</span>
  </div>
  <div class="mo-card-footer">
    <ul class="mo-list mo-list-bordered mb-0">
      <li>Margin Top: <span class="mo-text-i">mt-value</span></li>
      <li>Margin Bottom: <span class="mo-text-i">mb-value</span></li>
      <li>Margin Left: <span class="mo-text-i">ml-value , ms-value</span></li>
      <li>Margin Right: <span class="mo-text-i">mr-value , me-value</span></li>
    </ul>
    <ul class="mo-list mo-list-bordered mb-0">
      <li>Margin Horizontal: <span class="mo-text-i">mx-value</span></li>
      <li>Margin Vertical: <span class="mo-text-i">my-value</span></li>
    </ul>
  </div>
</div>
<!-- <div class="">
  <div *ngFor="let i of index" class="mo-card mo-card-squared m-{{i + 1}} mo-d-flex mb-16" style="width: fit-content;">
    <kbd>m-{{i+1}}</kbd>
  </div>
</div> -->
