<div id="select">
  <div class="mo-text-3 pb-10 mo-text-b">
    Select
  </div>
  <div class="mo-text-2 pb-10">
    Easily create nice looking Select Dropdown to increase UI/UX experience of
    end user.
  </div>
  <div class="mo-text-2 pb-10">
    The &lt;select&gt; HTML element represents a control that provides a menu of
    options.
  </div>
  <div class="mo-text-2 pb-10">
    The above example shows typical &lt;select&gt; usage. It is given an id
    attribute to enable it to be associated with a &lt;label&gt; for
    accessibility purposes, as well as a name attribute to represent the name of
    the associated data point submitted to the server. Each menu option is
    defined by an &lt;option&gt; element nested inside the &lt;select&gt;.
  </div>
</div>

<!--  -->
<div id="select-basic" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Select Option - Basic
    </div>
    <div class="mo-card-body">
      <select class="mo-select">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mo-card-footer">
      <span class="mo-hr-text">
        Code
      </span>
      <span class="mo-hr-text-right">
        Copy
      </span>
      <pre><code [highlight]="codes['basic']"></code></pre>
    </div>
  </div>
</div>
<!--  -->
<div id="select-large" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Select Option - Large
    </div>
    <div class="mo-card-body">
      <select class="mo-select mo-select-large">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mo-card-footer">
      <span class="mo-hr-text">
        Code
      </span>
      <span class="mo-hr-text-right">
        Copy
      </span>
      <pre><code [highlight]="codes['large']"></code></pre>
    </div>
  </div>
</div>
<!--  -->
<div id="select-small" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Select Option - Small
    </div>
    <div class="mo-card-body">
      <select class="mo-select mo-select-small">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mo-card-footer">
      <span class="mo-hr-text">
        Code
      </span>
      <span class="mo-hr-text-right">
        Copy
      </span>
      <pre><code [highlight]="codes['small']"></code></pre>
    </div>
  </div>
</div>
<!--  -->
<div id="select-rounded" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Select Option - Rounded
    </div>
    <div class="mo-card-body">
      <select class="mo-select mo-select-rounded">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mo-card-footer">
      <span class="mo-hr-text">
        Code
      </span>
      <span class="mo-hr-text-right">
        Copy
      </span>
      <pre><code [highlight]="codes['rounded']"></code></pre>
    </div>
  </div>
</div>
<!--  -->
<div id="select-squared" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Select Option - Square
    </div>
    <div class="mo-card-body">
      <select class="mo-select mo-select-squared">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mo-card-footer">
      <span class="mo-hr-text">
        Code
      </span>
      <span class="mo-hr-text-right">
        Copy
      </span>
      <pre><code [highlight]="codes['squared']"></code></pre>
    </div>
  </div>
</div>
