<div id="border">
  <div class="mo-text-3 pb-10 mo-text-b">
    Border & Radius
  </div>
  <div class="mo-text-2 pb-10">
    Use border utilities to quickly style the border and border-radius of an
    element. Great for images, buttons, or any other element.
  </div>
</div>

<!--  -->
<div id="border-basic" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Indicate the element border & it's corresponding positions.
    </div>
    <div class="mo-card-footer">
      <ul class="mo-list mo-list-bordered mb-0">
        <li><b>Border: </b> <span class="mo-text-i">.mo-border</span></li>
        <li>
          <b>Border-Top: </b> <span class="mo-text-i">.mo-border-top</span>
        </li>
        <li>
          <b>Border-Bottom: </b>
          <span class="mo-text-i">.mo-border-bottom</span>
        </li>
        <li>
          <b>Border-Left: </b> <span class="mo-text-i">.mo-border-left</span>
        </li>
        <li>
          <b>Border-Right: </b> <span class="mo-text-i">.mo-border-right</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--  -->
<div id="border-none" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Indicate the element border none property & it's corresponding positions.
    </div>
    <div class="mo-card-footer">
      <ul class="mo-list mo-list-bordered mb-0">
        <li><b>Border: </b> <span class="mo-text-i">.mo-border-none</span></li>
        <li>
          <b>Border Top: </b> <span class="mo-text-i">.mo-border-top-none</span>
        </li>
        <li>
          <b>Border Bottom: </b>
          <span class="mo-text-i">.mo-border-bottom-none</span>
        </li>
        <li>
          <b>Border Left: </b>
          <span class="mo-text-i">.mo-border-left-none</span>
        </li>
        <li>
          <b>Border-Right: </b>
          <span class="mo-text-i">.mo-border-right-none</span>
        </li>
      </ul>
      <ul class="mo-list mo-list-bordered">
        <li><b>Border: </b> <span class="mo-text-i">.mo-border-0</span></li>
        <li>
          <b>Border Top: </b> <span class="mo-text-i">.mo-border-top-0</span>
        </li>
        <li>
          <b>Border Bottom: </b>
          <span class="mo-text-i">.mo-border-bottom-0</span>
        </li>
        <li>
          <b>Border Left: </b> <span class="mo-text-i">.mo-border-left-0</span>
        </li>
        <li>
          <b>Border Right: </b>
          <span class="mo-text-i">.mo-border-right-0</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--  -->
<div id="border-color" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Indicate the element border & it's corresponding border theme colors.
    </div>
    <div class="mo-card-footer">
      <ul class="mo-list mo-list-bordered mb-0">
        <li class="mo-border-left-10 mo-border-right-0 mo-border-danger">
          <b>Border-Danger: </b>
          <span class="mo-text-i">.mo-border-danger</span>
        </li>
        <li class="mo-border-left-10 mo-border-right-0 mo-border-info">
          <b>Border-Info: </b> <span class="mo-text-i">.mo-border-info</span>
        </li>
        <li class="mo-border-left-10 mo-border-right-0 mo-border-success">
          <b>Border-Success: </b>
          <span class="mo-text-i">.mo-border-success</span>
        </li>
        <li class="mo-border-left-10 mo-border-right-0 mo-border-primary">
          <b>Border-Primary: </b>
          <span class="mo-text-i">.mo-border-primary</span>
        </li>
        <li class="mo-border-left-10 mo-border-right-0 mo-border-warning">
          <b>Border-Warning: </b>
          <span class="mo-text-i">.mo-border-warning</span>
        </li>
        <li class="mo-border-left-10 mo-border-right-0 mo-border-light">
          <b>Border-Light: </b> <span class="mo-text-i">.mo-border-light</span>
        </li>
        <li class="mo-border-left-10 mo-border-right-0 mo-border-dark">
          <b>Border-Dark: </b> <span class="mo-text-i">.mo-border-dark</span>
        </li>
        <li class="mo-border-left-10 mo-border-right-0 mo-border-core">
          <b> Border-AddOn: </b><span class="mo-text-i">.mo-border-core</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--  -->
<div id="border-radius" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Border radius: Indicate the element border radius.
    </div>
    <div class="mo-card-footer">
      <ul class="mo-list mo-list-bordered mb-0">
        <li>
          <b>Radius Top: </b>
          <span class="mo-text-i">.mo-radius-top-value</span>
        </li>
        <li>
          <b>Radius Bottom: </b>
          <span class="mo-text-i">.mo-radius-bottom-value</span>
        </li>
        <li>
          <b>Radius Left: </b>
          <span class="mo-text-i">.mo-radius-left-value</span>
        </li>
        <li>
          <b>Radius Right: </b>
          <span class="mo-text-i">.mo-radius-right-value</span>
        </li>
      </ul>
      <ul class="mo-list mo-list-bordered mb-0">
        <li>
          <b>Radius Top: </b>
          <span class="mo-text-i">.mo-radius-top-left-value</span>
        </li>
        <li>
          <b>Radius Bottom: </b>
          <span class="mo-text-i">.mo-radius-top-right-value</span>
        </li>
        <li>
          <b>Radius Left: </b>
          <span class="mo-text-i">.mo-radius-bottom-left-value</span>
        </li>
        <li>
          <b>Radius Right: </b>
          <span class="mo-text-i">.mo-radius-bottom-right-value</span>
        </li>
      </ul>
      <ul class="mo-list mo-list-bordered mb-0">
        <li>
          <b>Border-radius: </b> <span class="mo-text-i">.mo-radius</span>
        </li>
        <li>
          <b>Border-Pill: </b> <span class="mo-text-i">.mo-radius-pill</span>
        </li>
        <li>
          <b> Border-radius: </b>
          <span class="mo-text-i">.mo-radius-value</span>
        </li>
      </ul>
    </div>
  </div>
</div>
