<div id="list">
  <div class="mo-text-3 pb-10 mo-text-b">
    List
  </div>
  <div class="mo-text-2 pb-10">
    Easily create nice looking lists to increase UI/UX experience of end user.
  </div>
  <div class="mo-text-2 pb-10">
    List groups are a flexible and powerful component for displaying a series of
    content Modify and extend them to support just about any contentwithin.
  </div>
</div>

<!--  -->
<div id="list-basic" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Basic List layout with unordered Items.
    </div>
    <div class="mo-card-header">
      <ul class="mo-list mo-list-bordered">
        <li>List Mo - 1</li>
        <li>List Mo - 2</li>
        <li>List Mo - 3</li>
        <li>List Mo - 4</li>
      </ul>
    </div>
    <div class="mo-card-footer">
      <span class="mo-hr-text">
        Code
      </span>
      <span class="mo-hr-text-right">
        Copy
      </span>
      <pre><code [highlight]="codes['basic']"></code></pre>
    </div>
  </div>
</div>
<!--  -->
<div id="list-filled" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Basic List layout with unordered Items. with Filled background theme.
    </div>
    <div class="mo-card-header">
      <ul class="mo-list mo-list-bg-{{color}}">
        <li>List Mo - 1</li>
        <li>List Mo - 2</li>
        <li>List Mo - 3</li>
        <li>List Mo - 4</li>
      </ul>
    </div>
    <div class="mo-card-footer">
      <span class="mo-hr-text">
        Code
      </span>
      <span class="mo-hr-text-right">
        Copy
      </span>
      <pre><code [highlight]="codes['filled']"></code></pre>
    </div>
  </div>
</div>
<!--  -->
<div id="list-hover" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Basic List layout with unordered Items & Hover effect.
    </div>
    <div class="mo-card-header">
      <ul class="mo-list mo-list-hover-{{color}}">
        <li>List Mo - 1</li>
        <li>List Mo - 2</li>
        <li>List Mo - 3</li>
        <li>List Mo - 4</li>
      </ul>
    </div>
    <div class="mo-card-footer">
      <span class="mo-hr-text">
        Code
      </span>
      <span class="mo-hr-text-right">
        Copy
      </span>
      <pre><code [highlight]="codes['filled']"></code></pre>
    </div>
  </div>
</div>
<!--  -->
<div id="list-invite" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Basic List layout with unordered Items & Invite mode.
    </div>
    <div class="mo-card-header">
      <ul class="mo-list mo-list-invite-{{color}}-left">
        <li>List Mo - 1</li>
        <li>List Mo - 2</li>
        <li>List Mo - 3</li>
        <li>List Mo - 4</li>
      </ul>
    </div>
    <div class="mo-card-footer">
      <span class="mo-hr-text">
        Code
      </span>
      <span class="mo-hr-text-right">
        Copy
      </span>
      <pre><code [highlight]="codes['invite']"></code></pre>
    </div>
  </div>
</div>
<!--  -->
<div id="list-no-outline" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Basic List layout with unordered Items - No outline.
    </div>
    <div class="mo-card-header">
      <ul class="mo-list mo-list-border-none">
        <li>List Mo - 1</li>
        <li>List Mo - 2</li>
        <li>List Mo - 3</li>
        <li>List Mo - 4</li>
      </ul>
    </div>
    <div class="mo-card-footer">
      <span class="mo-hr-text">
        Code
      </span>
      <span class="mo-hr-text-right">
        Copy
      </span>
      <pre><code [highlight]="codes['noBorder']"></code></pre>
    </div>
  </div>
</div>
<!--  -->
<div id="list-rounded" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Basic List layout with unordered Items - outline rounded edges.
    </div>
    <div class="mo-card-header">
      <ul class="mo-list mo-list-rounded mo-list-bordered">
        <li>List Mo - 1</li>
        <li>List Mo - 2</li>
        <li>List Mo - 3</li>
        <li>List Mo - 4</li>
      </ul>
    </div>
    <div class="mo-card-footer">
      <span class="mo-hr-text">
        Code
      </span>
      <span class="mo-hr-text-right">
        Copy
      </span>
      <pre><code [highlight]="codes['rounded']"></code></pre>
    </div>
  </div>
</div>
<!--  -->
<div id="list-fill-squared" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Basic List layout with unordered Items - List - Fill (circle)
    </div>
    <div class="mo-card-header">
      <ul class="mo-list mo-list-bg-{{color}} mo-list-rounded mo-list-circle">
        <li>List Mo - 1</li>
        <li>List Mo - 2</li>
        <li>List Mo - 3</li>
        <li>List Mo - 4</li>
      </ul>
    </div>
    <div class="mo-card-footer">
      <span class="mo-hr-text">
        Code
      </span>
      <span class="mo-hr-text-right">
        Copy
      </span>
      <pre><code [highlight]="codes['rounded']"></code></pre>
    </div>
  </div>
</div>
<!--  -->
<div id="list-fill-square" class="mt-16">
  <div class="mo-card">
    <div class="mo-card-header">
      Basic List layout with unordered Items - List - Fill (square)
    </div>
    <div class="mo-card-header">
      <ul class="mo-list mo-list-bg-{{color}} mo-list-rounded mo-list-square">
        <li>List Mo - 1</li>
        <li>List Mo - 2</li>
        <li>List Mo - 3</li>
        <li>List Mo - 4</li>
      </ul>
    </div>
    <div class="mo-card-footer">
      <span class="mo-hr-text">
        Code
      </span>
      <span class="mo-hr-text-right">
        Copy
      </span>
      <pre><code [highlight]="codes['square']"></code></pre>
    </div>
  </div>
</div>
<!--  -->
<div id="list-types">
  <div class="mo-d-grid mo-grid-column-3 mo-grid-gap-32">
    <ng-template ngFor let-type [ngForOf]="listTypes" let-i="index">
      <div class="mo-card">
        <div class="mo-card-header">
          {{type | titlecase}}
        </div>
        <div class="mo-card-header">
          <ul class="mo-list mo-list-bordered">
            <li class="mo-list-{{type}}">
              {{type | titlecase}}
            </li>
          </ul>
        </div>
        <div class="mo-card-footer">
          <span class="mo-hr-text">
            Code
          </span>
          <span class="mo-hr-text-right">
            Copy
          </span>
          <pre><code [highlight]="'mo-list-'+type"></code></pre>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<!--  -->
<div class="theme-selection-grid theme-position">
  <ng-template ngFor let-theme [ngForOf]="colors" let-i="index">
    <div
      class="theme"
      [style.background]="themes[theme].color"
      [class.theme-active]="color === theme"
      (click)="color = theme;setTheme();"
    ></div>
  </ng-template>
</div>
